<h1>Admin Dashboard</h1>

<main class="dashboard">

<div>
  <section class="panel first">
    <h3>PRODUCT COUNT</h3>
    <h2><%= @product_count %></h2>
  </section>
  <%= link_to "Go to Products", 'admin/products', class: 'btn btn-lg btn-primary dashboard-button' %>
</div>

<div>
  <section class="panel">
    <h3>CATEGORY COUNT</h3>
    <h2><%= @category_count %></h2>
  </section>
  <%= link_to "Go to Categories", 'admin/products', class: 'btn btn-lg btn-primary dashboard-button' %>
</div>

</main>



