<section class="orders-show">
  <div class="order-summary jumbotron">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <% @order_lines.each do |item| %>
          <%= render 'line_item', price: item.item_price_cents, product: item.product, quantity: item.quantity %>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>

      <h4>Thank you for shopping at Jungle!</h4>
    </table>
  </div>
</section>