main.dashboard {
  display: flex;
  margin-top: 40px;

  section.panel {
    display: flex;
    flex-direction: column;
    padding: 75px 100px;
    border: 7px inset grey;
    min-width: 448px;
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png');

    h2, h3 {
      margin: 50px auto;
    }

    h2 {
      font-size: 5rem;
    }

    h3 {
      font-size: 3rem;
      color: grey;
    }
  }

  section.first {
    border-right: none;
  }

  .dashboard-button {
    margin: 20px auto;
    margin-left: 160px;
  }
}